<?xml version="1.0"?>
<!--
/**
 * Copyright © Custom, Inc. All rights reserved.
 * @package Custom_Shipping
 * @date 2020.09  
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Order\Info" type="Custom\Shipping\Block\Order\Info" />
</config>